*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header .container {display:flex; 
    align-items: center; 
    justify-content:space-between;
    font-size: large;}

header h1, section h2, section h3, form button{
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Alegreya', serif;
    font-size: 28px;
    color: #012a13;
}

header{
    padding: 16px;
    background-color: #093d25;
    color:#fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 28px;
}

header nav {
    align-items: center;
    justify-content: space-between;
}

header nav li a{
    color:#fff;
    text-decoration: none;
}

.container article #folclore{
    height: 1000px
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 16px auto;
    flex-grow: 1;
    display: flexbox;
}

.container section .article{
    background-color:#24322b63;
    justify-content: center;
}

.container .article img {
    height: 400px
}


p {
    text-align: justify;
}

section .container {
        align-items: flex-start;
}

section {
    padding: 24px 0;
    color:#012a13;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.social-links img{
    height:  24px;
    }

.container-contact #Contact {
    display: flex;
    justify-content: space-between;
    margin: 16, 0;
    background-color: #012a13;
    color:#fff
}

.social-links {
display: inline;
}

.social-links li a {
    text-decoration:none;
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button {
    background-color: #f9fbfa;
    color:#012a13;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:#173d2b;
}

input:focus, textarea:focus {
    outline-color:#012a13;
}

#redes li img{
    height: 24px;
}

footer {
    padding: 16px, 0;
    margin-top: 58px;
}